
.two-columns {
  grid-template-columns: 15vw 85vw;
}

.three-columns {
  grid-template-columns: 15vw 15vw 70vw;
}

.Briefing {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--theme-bg-secondary-color);

  .briefing-main-listBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--theme-border-main-color);
    background-color: var(--theme-bg-secondary-2-color);
    box-sizing: border-box;
  }

  .briefing-secondary-listBox {
    border-right: 2px solid var(--theme-border-main-color);
    background-color: var(--theme-bg-secondary-2-color);
  }

  .sideSpecificSwitch {
    display: flex;
    flex-direction: column;
    
    > span {
      margin-bottom: 6px;
    }

  }

  .sidebar-low {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 15vw;
    position: relative;
    height: 95%;
    background-color: var(--theme-bg-secondary-2-color);

    > div {
      flex-grow: 1;
    }
  }

  .briefing-code {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow: auto;
  }

}