.parse-errors {
  border: 2px yellowgreen solid;
  margin-bottom: 6px;
  li {
    padding: 4px;
  }
}

.parse-code {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  border: 2px yellowgreen solid;
  padding: 4px;
  line-height: 1.4rem;
}