.form-text {

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  div {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
  }

  label {
    margin-right: 8px;
  }

  input {
    flex-grow: 1;
    
    box-shadow: 1px 1px 4px var(--theme-input-shadow-color);
    padding: 7px;
    border-radius: 3px;
    outline: 0;
    border: 2px solid var(--theme-input-border-color);
    color: var(--theme-font-color);
    background-color: var(--theme-bg-color);
  }
  input:focus {
    border: 2px solid var(--theme-bg-selected-color);
  }
}

.form-text-datalist {
  width: 99%;
  max-height: 40vh;
  overflow-y: auto;
  position: absolute;
  z-index: 3;
  background-color: var(--theme-datalist-bg-color);
  border: 1px solid var(--theme-datalist-border-color);
  top: 35px;
  li {
    cursor: pointer;
    position: relative;
    padding: 4px;
  }
  li.active {
    background-color: var(--theme-datalist-hover-color);
  }
}

.form-switch {

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  label {
    margin-left: 8px;
    position: relative;
    width: 80px;
    height: 34px;
    border-radius: 34px;

    .slider:after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      background-color: var(--theme-switch-circle-color);
      border-radius: 50%;
      width: 35%;
      height: 75%;
      margin: 4px;
      left: 0;
      transition: .4s;
    }

    .slider:before {
      content: '';
      position: absolute;
      background-color: var(--theme-switch-disabled);
      border-radius: 34px;
      width: 100%;
      height: 100%;
      left: 0;
      transition: .4s;
    }

    input {
      visibility: hidden;
    }

    input:checked + .slider:after {
      transform: translateX(155%);
    }

    input:checked + .slider:before {
      background-color: var(--theme-switch-enabled);
    }

  }

}

.form-radioBox {

  border: 1px black solid;

  margin-bottom: 8px;

  li {

    width: 100%;

    input {
      display: none;
    }

    img {
      margin-right: 8px;
    }

    label {
      display: flex;
      align-items: center;
      background-color: var(--theme-radio-bg-color);
      color: var(--theme-radio-font-color);
      width: 100%;
      padding: 7px;
      box-sizing: border-box;
    }

    input:checked + label {
      background-color: var(--theme-radio-bg-selected-color);
      color: var(--theme-radio-font-selected-color);
    }

  }
}

.form-tooltip {
  position: absolute;
  z-index: 5;
  border: 2px solid var(--theme-tooltip-border-color);
  padding: 6px;
  transition: opacity 0.5s ease-in;
  background-color: var(--theme-tooltip-bg-color);
  color: var(--theme-tooltip-font-color);
  max-width: 20vw;
  font-size: 0.8rem;
  border-radius: 8px;

  ul {
    list-style: disc inside; 
  }

}

.form-listBox {
  width: 15vw;
  box-sizing: border-box;

  > h2 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 4px;
    padding: 4px;
    font-weight: 800;
    border-bottom: 1px solid var(--theme-border-secondary-color);
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      font-size: 1.1rem;
      border-bottom: 1px solid var(--theme-border-secondary-color);

      &.active {
        background-color: var(--theme-bg-selected-color);
        color: var(--theme-font-selected-color);
      }

      input {
        width: 100%;
        
        box-shadow: 1px 1px 4px var(--theme-input-shadow-color);
        padding: 7px;
        border-radius: 3px;
        outline: 0;
        border: 2px solid var(--theme-input-border-color);
        color: var(--theme-font-color);
        background-color: var(--theme-bg-color);
      }
      input:focus {
        border: 2px solid var(--theme-bg-selected-color);
      }


    }

  }

  button {
    width: 100%;
  }

}

.form-table {
  input {
    flex-grow: 1;
    
    box-shadow: 1px 1px 4px var(--theme-input-shadow-color);
    padding: 7px;
    border-radius: 3px;
    outline: 0;
    border: 2px solid var(--theme-input-border-color);
    color: var(--theme-font-color);
    background-color: var(--theme-bg-color);
  }
  input:focus {
    border: 2px solid var(--theme-bg-selected-color);
  }
}