.index-main {
  display: flex;
  justify-content: center;
  background-color: var(--theme-bg-secondary-color);
  flex-grow: 1;

  > div {
    border: 2px solid var(--theme-border-secondary-color);
    background-color: var(--theme-bg-secondary-2-color);
    padding: 16px;
    width: 30vw;
    margin: 16px;
    height: fit-content;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 8px;
    }

    li {
      margin-bottom: 14px;
    }

  }

}

.index-extras {
  ul {
    list-style-type: disc;
    margin-left: 14px;
    span {
      display: flex;
    }
  }
}

.key {
  border: 1px solid var(--theme-border-main-color);
  margin-right: 4px;
  padding: 1px;
  box-shadow: 0px 0px 10px var(--theme-shadow-color);
}

.key-desc {

  &::before {
    content: '—';
    margin: 0 6px;
  }

}

.hint {
  display: flex;
  border: 1px solid var(--theme-border-main-color);
  padding: 6px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px var(--theme-shadow-color);
}

