
.Overview {
  display: flex;
  flex-direction: row;
  height: 90vh;

  .quill-editor {
    width: 83vw;
    height: 100%;
    max-height: 100%;
  }

  main {
    width: 85vw;
    background-color: var(--theme-bg-secondary-color);

    height: calc(100vh - 58px);
    overflow-y: auto;
    overflow-x: hidden;

    > * {
      border: 1px solid var(--theme-border-secondary-color);
      padding: 8px;

      h2 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 6px;
      }

    }

    .mission-title {
      input {
        text-align: center;
      }
    }

    .picture-settings {
      display: grid;
      justify-items: center;
      grid-template-columns: 0.5fr 0.5fr;

      h2 {
        grid-column: 1/3;
      }

      .picture-path {
        grid-column: 1/3;
        width: 100%;
        input {
          text-align: center;
        }
      }

    }

    .mission-description {
      flex-grow: 1;
    }

    #toolbar {
      button {
        width: auto;
      }
    }

  }

  .sidebar-low {
    
    width: 15vw;
    background-color: var(--theme-bg-secondary-2-color);
    box-sizing: border-box;
    border-right: 2px solid var(--theme-border-main-color);

    nav {
      height: 90%;
      position: fixed;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    min-width: 15vw;

    li {
      font-size: 1.1rem;
      margin-bottom: 12px;
    }

    button {
      color: var(--theme-font-color);
      background-color: var(--theme-bg-color);
      border: 0;
      padding: 0;
      font-size: 1.1rem;
      font-family: serif;
    }
    a {
      padding: 6px;
    }    a:any-link {
      color: var(--theme-font-color);
    }
    a.active {
      color: var(--theme-font-selected-color);
      background-color: var(--theme-bg-selected-color);
      border-radius: 16px;
    }
    a:any-link {
      color: var(--theme-font-color);
    }
    a:hover,button:hover {
      color: var(--theme-font-hover-color);
      cursor: pointer;
    }
  }

  .overview-code {
    box-sizing: border-box;
    height: 92vh;
    width: 100%;
    height: calc(100vh - 58px);
    overflow-y: auto;
  }

}